## Impoting libraries

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("amazon.csv")
print(df)

      product_id                                       product_name  \
0     B07JW9H4J1  Wayona Nylon Braided USB to Lightning Fast Cha...
1     B098NS6PVG  Ambrane Unbreakable 60W / 3A Fast Charging 1.5...
2     B096MSW6CT  Sounce Fast Phone Charging Cable & Data Sync U...
3     B08HDJ86NZ  boAt Deuce USB 300 2 in 1 Type-C & Micro USB S...
4     B08CF3B7N1  Portronics Konnect L 1.2M Fast Charging 3A 8 P...
...          ...                                                ...
1460  B08L7J3T31  Noir Aqua - 5pcs PP Spun Filter + 1 Spanner | ...
1461  B01M6453MB  Prestige Delight PRWO Electric Rice Cooker (1 ...
1462  B009P2LIL4  Bajaj Majesty RX10 2000 Watts Heat Convector R...
1463  B00J5DYCCA  Havells Ventil Air DSP 230mm Exhaust Fan (Pist...
1464  B01486F4G6  Borosil Jumbo 1000-Watt Grill Sandwich Maker (...

                                               category discounted_price  \
0     Computers&Accessories|Accessories&Peripherals|...             ₹399
1     Computers&Accessories|Accessories&Peripherals|...             ₹199
2     Computers&Accessories|Accessories&Peripherals|...             ₹199
3     Computers&Accessories|Accessories&Peripherals|...             ₹329
4     Computers&Accessories|Accessories&Peripherals|...             ₹154
...                                                 ...              ...
1460  Home&Kitchen|Kitchen&HomeAppliances|WaterPurif...             ₹379
1461  Home&Kitchen|Kitchen&HomeAppliances|SmallKitch...           ₹2,280
1462  Home&Kitchen|Heating,Cooling&AirQuality|RoomHe...           ₹2,219
1463  Home&Kitchen|Heating,Cooling&AirQuality|Fans|E...           ₹1,399
1464  Home&Kitchen|Kitchen&HomeAppliances|SmallKitch...           ₹2,863

     actual_price discount_percentage rating rating_count  \
0          ₹1,099                 64%    4.2       24,269
1            ₹349                 43%    4.0       43,994
2          ₹1,899                 90%    3.9        7,928
3            ₹699                 53%    4.2       94,363
4            ₹399                 61%    4.2       16,905
...           ...                 ...    ...          ...
1460         ₹919                 59%      4        1,090
1461       ₹3,045                 25%    4.1        4,118
1462       ₹3,080                 28%    3.6          468
1463       ₹1,890                 26%      4        8,031
1464       ₹3,690                 22%    4.3        6,987

                                          about_product  \
0     High Compatibility : Compatible With iPhone 12...
1     Compatible with all Type C enabled devices, be...
2     【 Fast Charger& Data Sync】-With built-in safet...
3     The boAt Deuce USB 300 2 in 1 cable is compati...
4     [CHARGE & SYNC FUNCTION]- This cable comes wit...
...                                                 ...
1460  SUPREME QUALITY 90 GRAM 3 LAYER THIK PP SPUN F...
1461                       230 Volts, 400 watts, 1 Year
1462  International design and styling|Two heat sett...
1463  Fan sweep area: 230 MM ; Noise level: (40 - 45...
1464  Brand-Borosil, Specification â€“ 23V ~ 5Hz;1 W...

                                                user_id  \
0     AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...
1     AECPFYFQVRUWC3KGNLJIOREFP5LQ,AGYYVPDD7YG7FYNBX...
2     AGU3BBQ2V2DDAMOAKGFAWDDQ6QHA,AESFLDV2PT363T2AQ...
3     AEWAZDZZJLQUYVOVGBEUKSLXHQ5A,AG5HTSFRRE6NL3M5S...
4     AE3Q6KSUK5P75D5HFYHCRAOLODSA,AFUGIFH5ZAFXRDSZH...
...                                                 ...
1460  AHITFY6AHALOFOHOZEOC6XBP4FEA,AFRABBODZJZQB6Z4U...
1461  AFG5FM3NEMOL6BNFRV2NK5FNJCHQ,AGEINTRN6Z563RMLH...
1462  AGVPWCMAHYQWJOQKMUJN4DW3KM5Q,AF4Q3E66MY4SR7YQZ...
1463  AF2JQCLSCY3QJATWUNNHUSVUPNQQ,AFDMLUXC5LS5RXDJS...
1464  AFGW5PT3R6ZAVQR4Y5MWVAKBZAYA,AG7QNJ2SCS5VS5VYY...

                                              user_name  \
0     Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...
1     ArdKn,Nirbhay kumar,Sagar Viswanathan,Asp,Plac...
2     Kunal,Himanshu,viswanath,sai niharka,saqib mal...
3     Omkar dhale,JD,HEMALATHA,Ajwadh a.,amar singh ...
4     rahuls6099,Swasat Borah,Ajay Wadke,Pranali,RVK...
...                                                 ...
1460  Prabha ds,Raghuram bk,Real Deal,Amazon Custome...
1461  Manu Bhai,Naveenpittu,Evatira Sangma,JAGANNADH...
1462  Nehal Desai,Danish Parwez,Amazon Customer,Amaz...
1463  Shubham Dubey,E.GURUBARAN,Mayank S.,eusuf khan...
1464  Rajib,Ajay B,Vikas Kahol,PARDEEP,Anindya Prama...

                                              review_id  \
0     R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...
1     RGIQEG07R9HS2,R1SMWZQ86XIN8U,R2J3Y1WL29GWDE,RY...
2     R3J3EQQ9TZI5ZJ,R3E7WBGK7ID0KV,RWU79XKQ6I1QF,R2...
3     R3EEUZKKK9J36I,R3HJVYCLYOY554,REDECAZ7AMPQC,R1...
4     R1BP4L2HH9TFUP,R16PVJEXKV6QZS,R2UPDB81N66T4P,R...
...                                                 ...
1460  R3G3XFHPBFF0E8,R3C0BZCD32EIGW,R2EBVBCN9QPD9R,R...
1461  R3DDL2UPKQ2CK9,R2SYYU1OATVIU5,R1VM993161IYRW,R...
1462  R1TLRJVW4STY5I,R2O455KRN493R1,R3Q5MVGBRIAS2G,R...
1463  R39Q2Y79MM9SWK,R3079BG1NIH6MB,R29A31ZELTZNJM,R...
1464  R20RBRZ0WEUJT9,ROKIFK9R2ISSE,R30EEG2FNJSN5I,R2...

                                           review_title  \
0     Satisfied,Charging is really fast,Value for mo...
1     A Good Braided Cable for Your Type C Device,Go...
2     Good speed for earlier versions,Good Product,W...
3     Good product,Good one,Nice,Really nice product...
4     As good as original,Decent,Good one for second...
...                                                 ...
1460  Received the product without spanner,Excellent...
1461  ok,everything was good couldn't return bcoz I ...
1462  very good,Work but front melt after 2 month,Go...
1463  Fan Speed is slow,Good quality,Good product,go...
1464  Works perfect,Ok good product,Nice Product. Re...

                                         review_content  \
0     Looks durable Charging is fine tooNo complains...
1     I ordered this cable to connect my phone to An...
2     Not quite durable and sturdy,https://m.media-a...
3     Good product,long wire,Charges good,Nice,I bou...
4     Bought this instead of original apple, does th...
...                                                 ...
1460  I received product without spanner,Excellent p...
1461  ok,got everything as mentioned but the measuri...
1462  plastic but cool body ,u have to find sturdy s...
1463  I have installed this in my kitchen working fi...
1464  It does it job perfectly..only issue is temp c...

                                               img_link  \
0     https://m.media-amazon.com/images/W/WEBP_40237...
1     https://m.media-amazon.com/images/W/WEBP_40237...
2     https://m.media-amazon.com/images/W/WEBP_40237...
3     https://m.media-amazon.com/images/I/41V5FtEWPk...
4     https://m.media-amazon.com/images/W/WEBP_40237...
...                                                 ...
1460  https://m.media-amazon.com/images/I/41fDdRtjfx...
1461  https://m.media-amazon.com/images/I/41gzDxk4+k...
1462  https://m.media-amazon.com/images/W/WEBP_40237...
1463  https://m.media-amazon.com/images/W/WEBP_40237...
1464  https://m.media-amazon.com/images/W/WEBP_40237...

                                           product_link
0     https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
1     https://www.amazon.in/Ambrane-Unbreakable-Char...
2     https://www.amazon.in/Sounce-iPhone-Charging-C...
3     https://www.amazon.in/Deuce-300-Resistant-Tang...
4     https://www.amazon.in/Portronics-Konnect-POR-1...
...                                                 ...
1460  https://www.amazon.in/Noir-Aqua-Spanner-Purifi...
1461  https://www.amazon.in/Prestige-Delight-PRWO-1-...
1462  https://www.amazon.in/Bajaj-RX-10-2000-Watt-Co...
1463  https://www.amazon.in/Havells-Ventilair-230mm-...
1464  https://www.amazon.in/Borosil-Jumbo-1000-Watt-...

[1465 rows x 16 columns]

## Checking the missing values

In [3]:
print(df.isnull().values.any())
df[df.isna().any(axis=1)]

True

,product_id,product_name,category,discounted_price,actual_price,discount_percentage,rating,rating_count,about_product,user_id,user_name,review_id,review_title,review_content,img_link,product_link
282,B0B94JPY2N,Amazon Brand - Solimo 65W Fast Charging Braide...,Computers&Accessories|Accessories&Peripherals|...,₹199,₹999,80%,3.0,NaN,USB C to C Cable: This cable has type C connec...,AE7CFHY23VAJT2FI4NZKKP6GS2UQ,Pranav,RUB7U91HVZ30,The cable works but is not 65W as advertised,I have a pd supported car charger and I bought...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Amazon-Brand-Charging-Su...
324,B0BQRJ3C47,"REDTECH USB-C to Lightning Cable 3.3FT, [Apple...",Computers&Accessories|Accessories&Peripherals|...,₹249,₹999,75%,5.0,NaN,💎[The Fastest Charge] - This iPhone USB C cabl...,AGJC5O5H5BBXWUV7WRIEIOOR3TVQ,Abdul Gafur,RQXD5SAMMPC6L,Awesome Product,Quick delivery.Awesome ProductPacking was good...,https://m.media-amazon.com/images/I/31-q0xhaTA...,https://www.amazon.in/REDTECH-Lightning-Certif...

### Replacing

In [4]:
df = df.fillna(method="bfill")

In [5]:
num_df = df.iloc[:, 3:8]
spec_idx = num_df[num_df['rating'] == "|"].index[0]
num_df.iloc[spec_idx] = num_df.iloc[spec_idx-1]
num_df

     discounted_price actual_price discount_percentage rating rating_count
0                ₹399       ₹1,099                 64%    4.2       24,269
1                ₹199         ₹349                 43%    4.0       43,994
2                ₹199       ₹1,899                 90%    3.9        7,928
3                ₹329         ₹699                 53%    4.2       94,363
4                ₹154         ₹399                 61%    4.2       16,905
...               ...          ...                 ...    ...          ...
1460             ₹379         ₹919                 59%      4        1,090
1461           ₹2,280       ₹3,045                 25%    4.1        4,118
1462           ₹2,219       ₹3,080                 28%    3.6          468
1463           ₹1,399       ₹1,890                 26%      4        8,031
1464           ₹2,863       ₹3,690                 22%    4.3        6,987

[1465 rows x 5 columns]

## Parsing values

In [6]:
def parse_cash(value):
    return float(value[1:].replace(",", ""))
def parse_percentage(value):
    return int(value[:-1])
def parse_to_int(value):
    return int(value.replace(",", ""))
def parse_to_flt(value):
    return float(value.replace(",", ""))

num_df['discounted_price'] = num_df['discounted_price'].apply(parse_cash)
num_df['actual_price'] = num_df['actual_price'].apply(parse_cash)
num_df['discount_percentage'] = num_df['discount_percentage'].apply(parse_percentage)
num_df['rating_count'] = num_df['rating_count'].apply(parse_to_int)
# num_df['rating'] = num_df['rating'].apply(parse_to_flt)

In [7]:
num_df

      discounted_price  actual_price  discount_percentage rating  rating_count
0                399.0        1099.0                   64    4.2         24269
1                199.0         349.0                   43    4.0         43994
2                199.0        1899.0                   90    3.9          7928
3                329.0         699.0                   53    4.2         94363
4                154.0         399.0                   61    4.2         16905
...                ...           ...                  ...    ...           ...
1460             379.0         919.0                   59      4          1090
1461            2280.0        3045.0                   25    4.1          4118
1462            2219.0        3080.0                   28    3.6           468
1463            1399.0        1890.0                   26      4          8031
1464            2863.0        3690.0                   22    4.3          6987

[1465 rows x 5 columns]

## Max_Min visualising

In [8]:
df_vis = pd.DataFrame([[max(num_df['actual_price']),max(num_df['discount_percentage']),max(num_df['rating']),max(num_df['rating_count'])],
                      [min(num_df['actual_price']),min(num_df['discount_percentage']),min(num_df['rating']),min(num_df['rating_count'])]], 
                      index=pd.Index(['max', 'min']), columns=num_df.columns[1:])

df_ten = num_df[1:].sample(n=10)
df_ten

def min_max_style(styler):
    styler.highlight_max(color="#edb87e")
    styler.highlight_min(color='#98d5e0')
    return styler

df_ten.style.pipe(min_max_style)

### Математичне сподівання та дисперсія набору даних

#### Standartising the data

In [9]:
def standartise(df, column_name):
    return (df[column_name]-df[column_name].mean()) / df[column_name].std()

num_df['discounted_price'] = standartise(num_df, 'discounted_price')
num_df['actual_price'] = standartise(num_df, 'actual_price')
num_df['rating'] = standartise(num_df, 'rating')
num_df['discount_percentage'] = standartise(num_df, 'discount_percentage')
num_df['rating_count'] = standartise(num_df, 'rating_count')

TypeError: Could not convert 4.24.03.94.24.23.94.14.34.24.04.34.24.44.24.14.44.24.04.14.34.53.74.34.04.34.24.24.04.44.34.54.04.34.33.93.94.44.04.24.24.54.34.24.34.03.34.14.43.64.24.44.24.34.24.13.74.24.24.24.33.74.34.04.24.24.44.14.34.24.34.54.14.24.04.14.14.04.13.94.04.24.03.44.44.24.24.34.34.54.23.64.24.24.14.23.73.83.74.54.14.34.34.04.24.24.34.24.34.33.94.14.34.34.14.54.13.63.54.03.84.43.74.34.14.24.14.34.24.24.44.34.34.03.94.24.33.94.63.94.34.14.43.24.24.23.74.54.24.24.24.14.34.34.33.44.34.43.94.13.94.04.34.03.94.53.94.24.04.34.04.44.34.04.35.03.74.04.14.03.33.84.14.14.44.34.34.44.33.94.24.24.14.33.74.13.94.04.24.44.14.33.84.44.04.44.04.23.93.73.64.03.54.54.23.83.84.14.34.43.94.23.84.14.14.33.74.04.24.14.34.44.34.33.53.94.53.44.04.04.44.04.34.04.23.84.43.94.23.94.73.63.74.24.03.64.34.24.34.24.24.44.24.43.04.54.34.24.44.03.84.34.24.14.04.23.34.33.84.23.74.33.93.04.33.53.94.04.33.84.33.34.54.14.24.14.44.23.94.04.53.74.24.24.24.34.44.24.33.74.34.24.43.54.14.34.24.03.93.33.84.04.33.94.25.04.13.94.24.33.84.34.44.34.34.24.33.84.34.04.34.34.04.04.44.14.03.94.14.23.94.04.04.14.44.24.34.33.94.44.04.24.14.44.14.24.24.14.04.24.24.14.14.24.04.34.34.14.04.13.94.24.04.44.23.84.34.23.94.44.04.03.84.24.24.44.24.04.34.14.14.14.14.43.94.34.04.34.03.64.14.24.14.14.04.03.54.34.14.14.14.13.84.34.04.24.14.14.14.33.94.04.54.04.04.14.13.94.14.14.04.34.04.14.24.04.14.24.64.04.04.34.34.24.04.24.04.13.93.84.74.34.24.13.34.44.04.24.54.64.24.03.74.14.14.24.24.53.84.04.13.84.13.84.24.24.24.03.54.34.13.93.93.34.04.04.03.94.34.14.14.34.14.14.34.44.23.34.44.34.14.04.14.33.83.93.74.04.24.43.94.54.23.94.24.14.14.34.14.33.64.14.04.14.33.94.14.14.43.84.34.33.54.03.94.32.83.84.54.34.13.04.03.94.14.14.34.04.44.34.23.84.34.34.34.03.94.13.74.24.14.04.63.94.04.34.44.14.14.14.44.54.14.24.54.13.94.33.84.34.43.83.83.54.44.14.14.33.54.14.13.93.94.14.04.24.34.14.04.23.94.34.24.54.04.24.54.33.94.14.34.24.24.03.94.14.53.73.54.23.54.33.94.24.34.24.04.14.54.24.13.94.33.94.04.03.54.33.84.43.74.44.44.44.24.53.83.84.14.14.43.84.24.14.44.14.13.53.64.33.84.03.94.14.34.44.34.34.14.44.43.83.84.04.44.44.54.04.04.34.23.84.34.14.34.04.34.24.04.44.44.54.24.14.54.24.33.94.54.14.23.84.33.94.34.33.93.74.24.34.23.94.33.74.34.33.94.44.04.53.94.34.24.14.24.54.24.24.34.04.53.83.94.04.13.44.03.44.33.94.14.34.54.24.14.44.34.34.34.24.14.14.54.44.34.34.34.04.34.04.44.04.33.33.74.15.04.53.94.44.13.63.83.64.24.43.84.24.34.44.14.44.44.44.44.34.34.34.24.34.23.84.34.54.14.24.04.14.14.34.54.54.14.33.64.44.53.94.04.04.44.64.44.44.34.34.44.04.23.84.14.24.24.44.34.14.43.93.93.64.44.03.54.14.14.04.14.03.84.34.24.14.24.54.64.34.04.23.34.33.73.94.34.14.24.54.04.53.54.54.33.34.13.83.54.14.54.44.14.33.64.04.14.54.24.34.24.64.54.34.14.53.54.44.24.44.44.24.54.33.83.94.04.14.44.44.43.54.54.14.44.14.24.24.34.33.73.94.54.14.03.83.44.34.34.34.24.14.04.34.04.14.03.84.24.34.44.14.54.04.23.94.34.04.24.34.24.24.14.34.34.24.54.44.24.14.34.44.13.64.04.04.43.94.34.64.44.53.94.14.34.54.53.64.14.33.84.64.14.04.54.34.04.54.04.54.14.34.14.04.14.14.44.04.14.44.34.23.64.24.23.94.24.54.34.24.14.14.63.84.34.24.24.43.94.04.23.74.54.53.64.34.13.93.644.13.73.94.13.93.93.93.83.84.14.13.34.244.344.54.144.23.84.24.23.63.84.14.14.14.14.244.34.24.23.74.14.43.844.23.84.243.94.33.844.24.23.64.344.24.144.343.94.24.14.443.843.14.34.24.44.14.24.14.14.13.93.93.844.24.14.33.74.24.34.34.43.84.53.83.84.14.13.83.344.63.93.74.24.14.13.84.14.64.14.23.94.14.143.74.14.14.13.34.14.14.44.34.13.74.84.544.13.94.14.24.13.54.33.94.23.84.53.84.14.24.14.24.544.4443.943.84.24.34.24.34.24.43.84.13.94.34.43.63.844.14.343.94.43.73.63.744.23.84.23.944.14.84.24.143.94.14.34.14.23.93.74.143.84.24.64.13.34.24.34.34.34.74.43.94.74.13.84.44.33.44.23.74.34.34.44.144.43.84.33.82.34.543.744.44.14.43.14.34.44.44.14.143.63.93.93.84.14.14.13.84.34.54.23.93.54.33.93.944.74.13.84.14.14.13.93.84.14.33.92.844.54.64.14.13.44.64.23.94.24.24.14.84.44.34.344.344.44.13.6243.73.83.93.1344.44.13.64.44.24.33.84.144.23.64.24.14.23.944.24.24.14.44.14.24.13.93.94.24.23.73.73.44.244.13.943.94.24.342.63.84.53.53.9443.543.44.23.84.14.24.34.24.13.93.34.33.94.33.63.83.94.63.83.94.13.64.44.34.74.33.93.93.73.544.13.94.44.34.543.94.24.13.74.14.24.33.64.14.54.24.344.24.24.53.84.44.14.24.34.14.24.13.93.93.84.63.64.14.24.33.93.944.44.24.54.14.14.24.244.33.63.54.33.62.94.24.44.13.83.54.13.24.43.63.144.13.644.3 to numeric

In [ ]:
print(num_df)

## Analyse the data

In [ ]:
import seaborn as sns

In [ ]:
sns.lineplot(num_df[['rating', 'actual_price']])

In [ ]:
sns.lineplot(num_df[['actual_price', 'rating_count']])

In [ ]:
sns.barplot(num_df)

In [ ]:
sns.heatmap(num_df)

In [ ]:
sns.histplot(num_df)